@use "./variables" as vb;

body {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

.content {
  background-color: vb.$color_back;
  padding-top: 150px;

  .container {
    width: calc(100% - 100px);
    margin: 0 auto;
    display: grid;
    justify-items: center;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
  }
}

.main {
  background-color: vb.$color_white;
  border-top: 3px solid vb.$color_keynote;
  text-align: center;
  padding: 0 20px 50px 20px;
  width: 100%;
  height: fit-content;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  padding: 20px 0 20px 20px;
  margin-bottom: 40px;
  border-top: 3px solid vb.$color_keynote;
  border-bottom: 3px solid vb.$color_keynote;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}
