@use "./aside" as aside;
@use "./footer" as footer;
@use "./header-user" as header;
@use "./variables" as vb;
@use "./style" as style;

.start {
  display: flex;

  &__inner {
    background: linear-gradient(
      110.59deg,
      rgb(28, 188, 187) 1.51%,
      rgb(116, 209, 142) 124.9%
    );
    width: 300px;
  }

  &__inner__balloon {
    margin-top: 30px;
    display: inline-block;
    position: relative;
    left: -20px;
    margin-bottom: 18px;
    padding: 10px 20px;
    color: white;
    font-size: 15px;
    text-align: left;
    border-radius: 15px;
    background-color: rgb(242 123 230);

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 40px;
      height: 0;
      width: 0;
      border: 10px solid transparent;
      border-top: 15px solid rgb(242 123 230);
    }
  }

  &__inner__text {
    color: #FAF9D0;
  }

  &__inner__button {
    button {
      margin: 30px 20px 0 20px;
      padding: 10px 20px;
      color: white;
      font-size: 20px;
      border: 1px solid;
      border-radius: 30px;
    }
  }

  &__img {
    width: calc(100% - 300px);
  }
}

.diagnosis__category {
  &__title {
    font-weight: bold;
    padding: 5px 0 5px 30px;
    margin: 30px 0;
    border-left: 5px solid rgb(254, 42, 254);
    color: rgb(254, 42, 254);
    font-size: 20px;
    text-align: left;
  }

  &__first {
    width: 95%;
    margin: 0 auto;
  }

  &__first__item {
    display: flex;
    width: 100%;
    font-size: 13px;
    height: 50px;

    dt {
      width: 35%;
      display: flex;
      align-items: center;
      padding: 0 5px;
      text-align: left;
    }

    dd {
      width: 65%;
      display: flex;

      label {
        width: 25%;
        text-align: left;
        display: flex;
        align-items: center;
      }
    }
  }

  &__list {
    border: 1px solid black;
    width: 95%;
    margin: 0 auto;
  }

  &__item {
    display: flex;
    width: 100%;
    font-size: 13px;
    height: 70px;

    &:not(:first-child):nth-of-type(2n + 1) {
      background-color: rgb(200, 200, 200);
    }

    &:first-child {
      border-bottom: 1px solid black;
    }

    dt {
      width: 35%;
      display: flex;
      align-items: center;
      border-right: 1px solid black;
      padding: 0 5px;
      text-align: left;
    }

    dd {
      width: 65%;
      display: flex;

      label {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        & + label {
          border-left: 1px solid black;
        }
      }
    }
  }

  &__item__title {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3px;

    & + & {
      border-left: 1px solid black;
    }
  }
}

.diagnosis__button {
  button {
    background-color: rgb(254, 42, 254);
    width: 200px;
    border-radius: 10px;
    padding: 20px 0;
    margin: 50px auto;
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}
