@use "./aside" as aside;
@use "./footer" as footer;
@use "./header-user" as header;
@use "./variables" as vb;
@use "./style" as style;

.accordion {
  &__item {
    max-width: 1024px;
    margin: 0 auto 10px auto;
  }

  &__title {
    position: relative;
    background-color: rgb(117, 147, 117);

    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 60px 15px 15px;
    text-align: left;
    z-index: +1;
    cursor: pointer;
    transition-duration: 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__btn {
    position: absolute;
    top: 37%;
    right: 10%;
    width: 18px;
    height: 18px;
    transform-origin: center center;
    transition-duration: 0.2s;

    &:before,
    &:after {
      content: "";
      background-color: vb.$color_white;
      border-radius: 10px;
      width: 18px;
      height: 4px;
      position: absolute;
      top: 7px;
      left: 0;
      transform-origin: center center;
    }
    &:before {
      width: 4px;
      height: 18px;
      top: 0;
      left: 7px;
    }
  }

  .active &__btn {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    &:before {
      content: none;
    }
  }

  &__content {
    display: none;
    padding: 30px 30px;
    border-left: 2px solid green;
    border-right: 2px solid green;
    border-bottom: 2px solid green;
    box-sizing: border-box;
  }
}
