@charset "UTF-8";
.aside__contents {
  height: auto;
}
.aside__contents__img {
  width: 100%;
}

.aside {
  width: 25%;
}
.aside__list {
  width: 100%;
}
.aside__item {
  margin-bottom: 50px;
}
.aside__title {
  padding: 15px 5px;
  width: 100%;
  color: #ffffff;
  background-color: #26a69a;
  font-weight: 600;
}
.aside__contents {
  background-color: #ffffff;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.aside__content__item {
  padding: 15px 5px;
}
.aside__content__item + .aside__content__item {
  border-top: 1px dotted black;
}
.aside .img {
  text-align: center;
}
.aside .img:nth-child(2) {
  width: 80%;
}
.aside .information {
  text-align: center;
  font-size: 12px;
  display: block;
  padding: 5px 0;
}
.aside .notice {
  color: #f578f9;
  font-weight: 700;
}

.footer {
  background-color: #333;
  text-align: center;
  color: white;
  font-size: 13px;
}
.footer__title__img {
  margin: 20px 0;
  height: 50px;
  width: auto;
}
.footer__title__sentence {
  margin: 10px 0;
  color: #ffcf32;
  font-size: 16px;
  font-style: italic;
  font-weight: lighter;
}
.footer__list {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  gap: 80px;
}
.footer__item {
  text-align: left;
  width: calc((90% - 160px) / 3);
}
.footer__copyright {
  padding: 20px 0;
}

.nav__title {
  margin: 10px 0;
  font-weight: 800;
  font-size: 16px;
}
.nav__list {
  margin: 0 auto;
}
.nav__item {
  padding: 10px 20px;
}

/*========= ページトップのためのCSS ===============*/
/*リンクの形状*/
.scroll__top {
  position: fixed;
  right: 10px;
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateY(100px);
}
.scroll__top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #942d2f;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  transition: all 0.3s;
}
.scroll__top a:hover {
  background: #777;
}

.UpMove {
  -webkit-animation: UpAnime 0.5s forwards;
          animation: UpAnime 0.5s forwards;
}

@-webkit-keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.DownMove {
  -webkit-animation: DownAnime 0.5s forwards;
          animation: DownAnime 0.5s forwards;
}

@-webkit-keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100px);
  }
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100px);
  }
}
.header {
  z-index: 10;
  width: 100%;
  text-align: center;
  position: fixed;
  background-color: #26a69a;
  margin: 0 auto;
}
.header__title {
  margin: 15px 0;
}
.header__title img {
  height: 50px;
}
.header__nav__list {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0 20px;
}
.header__nav__item {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 0 10px 10px 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1000px) {
  .header__nav__item {
    font-size: 12px;
  }
}

.active {
  border-bottom: white 3px solid;
}

.hamburger__nav {
  display: none;
}

body {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

.content {
  background-color: #e0e4eb;
  padding-top: 150px;
  padding-bottom: 50px;
}
.content .container {
  width: calc(100% - 100px);
  margin: 0 auto;
  display: flex;
  gap: 50px;
}

.main {
  background-color: #ffffff;
  text-align: center;
  padding: 0 20px 50px 20px;
  width: calc(75% - 50px);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  padding: 20px 0 20px 20px;
  margin: 30px 0;
  border-top: 3px solid #26a69a;
  border-bottom: 3px solid #26a69a;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.attention {
  padding: 0 30px;
}
.attention__title {
  font-size: 20px;
  padding: 10px 0;
}
.attention__inner {
  background-color: #ebeaea;
  border-radius: 10px;
  text-align: left;
  padding: 20px 40px;
  margin-bottom: 30px;
}
.attention__inner__item {
  padding: 10px 0;
  list-style: circle;
}
.attention a {
  color: blue;
}

.contact__form {
  margin: 10px 30px 0px 30px;
}
.contact__form__item {
  display: flex;
}
.contact__form__item + .contact__form__item {
  margin-top: 18px;
}
.contact__form__item dt {
  width: 160px;
  font-size: 14px;
  line-height: 30px;
  text-align: right;
}
.contact__form__item dd {
  width: calc(100% - 280px);
  margin-left: 60px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__form__item label + label {
  margin-left: 40px;
}
.contact__form__item input[type=text],
.contact__form__item input[type=email],
.contact__form__item textarea {
  font-size: 16px;
  border: solid 1px #a5a5a5;
  border-radius: 4px;
  width: 100%;
  height: 30px;
  padding: 8px;
  letter-spacing: 0.1em;
  text-align: left;
}
.contact__form__item textarea {
  height: 210px;
}
.contact__label {
  width: 60px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.contact__label div {
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
  border-radius: 10px;
}
.contact__label__option {
  background-color: blue;
}
.contact__label__require {
  background-color: red;
}
.contact__form__footer {
  text-align: center;
  margin-top: 40px;
}
.contact__form__button {
  font-size: 18px;
  font-weight: bold;
  background: rgba(26, 114, 182, 0.234);
  border-radius: 4px;
  min-width: 350px;
  color: #ffffff;
  padding: 12px;
}
.contact__thanks__complete {
  margin: 15px 0;
  padding: 10px 5px;
  background-color: rgba(26, 114, 182, 0.234);
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}
.contact__thanks__text {
  text-align: left;
  padding: 0 20px;
}
.contact__thanks__nav {
  color: rgba(26, 114, 182, 0.234);
  border-bottom: 1px solid rgba(26, 114, 182, 0.234);
}
.contact__thanks__button {
  background-color: rgba(26, 114, 182, 0.234);
  width: 200px;
  padding: 15px 0px;
  margin: 20px 0;
  color: #ffffff;
}

/*# sourceMappingURL=contact.css.map */