body {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

.content {
  background-color: #e0e4eb;
  padding-top: 150px;
  padding-bottom: 50px;
}
.content .container {
  width: calc(100% - 100px);
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: 3fr 1fr;
  gap: 50px;
}

.main {
  background-color: #ffffff;
  border-top: 3px solid #26a69a;
  text-align: center;
  padding: 0 20px 50px 20px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  padding: 20px 0 20px 20px;
  margin: 40px 0;
  border-top: 3px solid #26a69a;
  border-bottom: 3px solid #26a69a;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}

.header {
  z-index: 10;
  width: 100%;
  text-align: center;
  position: fixed;
  background-color: #26a69a;
  margin: 0 auto;
}
.header__title {
  margin: 15px 0;
}
.header__title img {
  height: 60px;
}
.header__nav__list {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}
.header__nav__item {
  color: #ffffff;
  margin: 0 auto;
  font-size: 15px;
  padding: 15px 0;
}
@media screen and (max-width: 1000px) {
  .header__nav__item {
    font-size: 12px;
  }
}

.aside {
  width: 100%;
}
.aside__list {
  width: 100%;
}
.aside__item {
  display: block;
  width: 80%;
  margin: 0px auto 50px auto;
}
.aside__title {
  padding: 15px 5px;
  width: 100%;
  color: #ffffff;
  background-color: #26a69a;
  font-weight: 600;
}
.aside__contents {
  background-color: #ffffff;
  width: 100%;
  height: 300px;
}
.aside__search {
  width: 80%;
  margin: 5px 10px;
}
.aside__search input {
  width: 100%;
  padding: 10px 0px;
  background-color: #ffffff;
}

.accordion__item {
  max-width: 1024px;
  margin: 0 auto 10px auto;
}
.accordion__item:nth-of-type(2) .accordion__title {
  background-color: rgba(26, 114, 182, 0.234);
}
.accordion__item:nth-of-type(3) .accordion__title {
  background-color: rgba(26, 114, 182, 0.234);
}
.accordion__item:nth-of-type(2) .accordion__content {
  border-left: 2px solid rgba(26, 114, 182, 0.234);
  border-right: 2px solid rgba(26, 114, 182, 0.234);
  border-bottom: 2px solid rgba(26, 114, 182, 0.234);
}
.accordion__item:nth-of-type(3) .accordion__content {
  border-left: 2px solid rgba(26, 114, 182, 0.234);
  border-right: 2px solid rgba(26, 114, 182, 0.234);
  border-bottom: 2px solid rgba(26, 114, 182, 0.234);
}
.accordion__title {
  position: relative;
  background-color: rgba(26, 114, 182, 0.234);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 60px 15px 15px;
  text-align: left;
  z-index: 1;
  cursor: pointer;
  transition-duration: 0.2s;
}
.accordion__title:hover {
  opacity: 0.8;
}
.accordion__btn {
  position: absolute;
  top: 37%;
  right: 10%;
  width: 18px;
  height: 18px;
  transform-origin: center center;
  transition-duration: 0.2s;
}
.accordion__btn:before, .accordion__btn:after {
  content: "";
  background-color: #ffffff;
  border-radius: 10px;
  width: 18px;
  height: 4px;
  position: absolute;
  top: 7px;
  left: 0;
  transform-origin: center center;
}
.accordion__btn:before {
  width: 4px;
  height: 18px;
  top: 0;
  left: 7px;
}
.active .accordion__btn {
  transform: rotate(-180deg);
}
.active .accordion__btn:before {
  content: none;
}
.accordion__content {
  display: none;
  padding: 30px 30px;
  border-left: 2px solid rgba(26, 114, 182, 0.234);
  border-right: 2px solid rgba(26, 114, 182, 0.234);
  border-bottom: 2px solid rgba(26, 114, 182, 0.234);
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .accordion_list .accordion_item .accordion__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .accordion_list .accordion_item .accordion__title {
    font-size: 16px;
    text-align: left;
  }
}
#a {
  background-color: #ffffff;
  color: rgba(26, 114, 182, 0.234);
  border: 2px solid rgba(26, 114, 182, 0.234);
}

/*# sourceMappingURL=q&a_craft.css.map */