@media (max-width: 1200px) {
  .agent__service__inner {
    gap: 0px;
  }
  .agent__service__inner__analysis {
    width: calc(100% - 400px);
  }
}
@media (max-width: 1100px) {
  .agent__service__inner {
    display: block;
  }
  .agent__service__inner__item {
    width: 100%;
  }
  .agent__service__inner__analysis {
    width: 90%;
    margin: 0 auto;
  }
  .agent__service__inner__item__graph {
    width: auto;
  }
  .agent__service canvas {
    height: 300px;
  }
  .agent__service h3 {
    margin: 0 50px;
  }
}
@media (max-width: 900px) {
  .contact__form__item dd {
    margin-left: 30px;
    width: calc(100% - 250px);
  }
  .contact__form__item input[type=text],
.contact__form__item input[type=email],
.contact__form__item textarea {
    font-size: 12px;
  }

  .apply__form__item dd {
    margin-left: 30px;
    width: calc(100% - 215px);
  }
  .apply__form__item select {
    font-size: 12px;
  }
  .apply__form__item input[type=text],
.apply__form__item input[type=email],
.apply__form__item input[type=date],
.apply__form__item textarea {
    font-size: 12px;
  }
  .apply__form__item label + label {
    margin-left: 5px;
  }

  .footer__list {
    display: block;
  }
  .footer__item {
    width: 80%;
    margin: 0 auto;
  }

  .agent__service h3 {
    margin: 0 20px;
  }
}
@media (max-width: 700px) {
  body {
    font-size: 12px;
  }

  .content {
    padding-top: 100px;
  }
  .content .container {
    display: block;
  }

  .main {
    width: 100%;
  }

  .aside {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 100px auto 0 auto;
  }
  .aside__contents img {
    display: flex;
    flex-direction: column;
  }

  .contact__form__item dt {
    font-size: 12px;
  }
  .contact__form__button {
    width: 100%;
    min-width: 0;
  }

  .apply__form__item dt {
    font-size: 12px;
  }
  .apply__form__item label + label {
    margin-left: 20px;
  }
  .apply__form__button {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 600px) {
  .header__nav {
    display: none;
  }

  .content {
    padding-top: 80px;
  }

  .title {
    font-size: 13px;
  }

  .main {
    padding: 0 0 50px 0;
  }

  .hamburger__nav {
    display: block;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 50px;
    background: #333;
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2;
  }
  .hamburger__nav__item {
    display: block;
    padding: 20px 28px;
  }
  .hamburger__nav__item a {
    text-decoration: none;
    color: #ddd;
  }
  .hamburger__button {
    text-align: left;
    position: fixed;
    top: 23px;
    right: 20px;
    width: 35px;
    height: 24px;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms;
  }
  .hamburger__button span {
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    border-radius: 10px;
    transition: all 400ms;
  }
  .hamburger__button span:nth-child(1) {
    top: 0;
  }
  .hamburger__button span:nth-child(2) {
    top: 10px;
  }
  .hamburger__button span:nth-child(3) {
    top: 20px;
  }
  .hamburger__button span:nth-child(3)::after {
    content: "Menu";
    position: absolute;
    top: 5px;
    left: -2px;
    color: #fff;
    font-size: 0.6rem;
    text-transform: uppercase;
  }
  .hamburger .open {
    transform: rotate(180deg);
  }
  .hamburger .open span {
    background: #fff;
    width: 24px;
  }
  .hamburger .open span:nth-child(1) {
    top: 14px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 100%;
  }
  .hamburger .open span:nth-child(2) {
    opacity: 0;
  }
  .hamburger .open span:nth-child(3) {
    top: 26px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 100%;
  }
  .hamburger .open span:nth-child(3)::after {
    content: "Close";
    transform: translateY(0) rotate(-225deg);
    top: -25px;
    left: -20px;
  }

  .contact__form__item {
    flex-wrap: wrap;
  }
  .contact__form__item dt {
    text-align: left;
  }
  .contact__form__item dd {
    margin: 10px 0 20px 0;
    width: 100%;
  }

  .apply__form__item {
    flex-wrap: wrap;
  }
  .apply__form__item dt {
    text-align: left;
  }
  .apply__form__item dd {
    margin: 10px 0 20px 0;
    width: 100%;
  }

  .agent {
    padding: 0 20px;
  }

  .agent__service {
    display: block;
  }
  .agent__service__img {
    display: flex;
  }
  .agent__service__img img {
    margin: 0 auto;
  }
  .agent__service__main {
    width: 100%;
    margin-top: 50px;
  }
  .agent__service__main__name {
    margin: 10px 0;
    text-align: left;
  }
  .agent__service__main__info {
    padding: 0;
  }

  .agent__staff {
    display: block;
  }
  .agent__staff__img {
    margin: 0 auto;
  }
  .agent__staff__info {
    width: 100%;
  }
  .agent__staff__info__name {
    text-align: left;
  }
}
@media (max-width: 450px) {
  body {
    font-size: 10px;
  }

  .content .container {
    width: calc(100% - 50px);
  }

  .attention {
    padding: 0 15px;
  }

  .attention__inner {
    padding: 20px 10px 20px 20px;
  }

  .agent__info__contents dt, .agent__info__contents dd {
    font-size: 12px;
  }
}

/*# sourceMappingURL=sp.css.map */